.video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    filter: brightness(.5);
}

body {
    overflow: hidden;
}

.container {
    color: #ffffff;
}

.section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.section-inner h1 {
    font-size: 80px;
}

.section-inner p {
    font-size: 30px;
}

.btn {
    width: 200px;
    height: 50px;
    border: none;
    display: flex;
    border: none;
    outline: none;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    background-color: #ececec;
    transition: all .2s ease-in-out;
}

.btn:active {
    scale: .97;
}

.btn p {
    margin-left: -6rem;
    transition: all .5s ease-in-out;
}

.btn i:nth-child(1),
.btn i:nth-child(3) {
    height: 100%;
    width: 50px;
    max-width: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #3f3f3f;
    color: #ececec;
    transition: all .5s ease-in-out;
}

.btn i:nth-child(1) {
    width: 0%;
    left: 0;
    transform-origin: left;
}

.btn i:nth-child(3) {
    width: 100%;
    right: 0;
    transform-origin: right;
}

.btn:hover i:nth-child(3) {
    width: 0px;
}

.btn:hover i:nth-child(1) {
    width: 50px;
}

.btn:hover p {
    margin-left: 5.5rem;
}

.btn:not(:hover) i:nth-child(1),
.btn:not(:hover) i:nth-child(3) {
    transition: all .5s ease-in-out;
}