.header {
    width: 100%;
    margin: 0;
    height: 80px;
    color: #ffffff;
    backdrop-filter: blur(8px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-inner {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo h1 {
    font-size: 25px;
    color: #ffffff;
}

.header-logo img {
    width: 40px;
}

.header-mode i {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transition: all .2s ease-in-out;
}

.sun:hover {
    font-size: 35px;
    transform: rotate(30deg);
}

/*  *** Media 1400px ***  */


@media screen and (max-width: 1400px) {
    .header-inner {
        max-width: 1400px;
        width: 100%;
    }
}