html,
body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    filter: brightness(.5);
}

.quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    height: 650px;
    width: 100%;
}

.quiz-card {
    backdrop-filter: blur(6px);
    max-width: 950px;
    height: 500px;
    width: 100%;
    border-radius: 30px;
    padding: 30px 50px;
    text-align: center;
    background-color: #d4d4d445;
    backdrop-filter: blur(6px);}

.quiz-card h1 {
    text-align: center;
}

.queestions {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    border-bottom: 1px solid #fff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options label {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

/*  *** Button  *** */

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
}

.buttons button:active {
    margin-top: 10px;
    box-shadow: 0px -5px 0px rgba(34, 34, 34, 0.581);
}

#next-btn {
    background-color: green;
    height: 50px;
    width: 150px;
}

#next-btn:hover {
    background-color: rgb(0, 67, 0);
}

#skip-btn {
    background-color: blue;
    height: 35px;
    width: 130px;
}
#dont-btn {
    background-color: red;
    height: 35px;
    width: 130px;
}